body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    display: block;
    text-decoration: none;
    color: #2E2F42;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
  max-width: 1158px;   
  padding: 0 15px;  
  margin: 0 auto;   
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header a{
    padding-top: 24px;
    padding-bottom: 24px;
}

.header div {
    display: flex;
    gap: 332px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.header-logo-piece {
    color: #2E2F42;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-link {
    position: relative;
    font-weight: 500;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page {
    color: #404bbf;;
}

.current-page:hover::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    margin: 0 auto;
}


.header-nav-link:hover, 
.header-nav-link:focus {
    color: #404BBF;
}

.header-socials{
    font-style: normal;
}

.header-contacts-list {
    display: flex;
    gap: 40px;
}

.header-contacts {
    font-weight: 400;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts:hover,
.header-contacts:focus {
    color: #404BBF;
}

.main-first-section {
    background-color: #2E2F42;
    padding: 0;
}

.main-first-section {
    background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/people-office.jpg);
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    margin: auto;
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-title {
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    max-width: 496px;
    margin: 0 auto;
}

.first-section-btn {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 48px auto 0;
    height: 56px;
    min-width: 169px;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-btn:hover,
.first-section-btn:focus {
    background-color: #404BBF;
}

.values-list {
    display: flex;
    gap: 24px;
}

.value-item {
    width: calc((100% - 72px) / 4); 
}

.value-item-window {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}

.value-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.value-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}

.team-members-list {
    display: flex;
    gap: 24px;
}

.team-member {
    background-color:#FFFFFF;
    width: calc((100% - 72px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-member-info {
    padding: 32px 0
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}

.team-member-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-member-contacts {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-member-contact {
    width: 40px;
    height: 40px;
}

.member-contact-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.member-contact-link:hover,
.member-contact-link:focus {
    background-color: #404BBF;
}

.member-contacts-icon {
    fill: #F4F4FD;

}
 
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px; 
}

.portfolio-item {
    position: relative;
    overflow: hidden;

    width: calc((100% - 48px)/3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-item-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-info {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
}

.footer-logo-piece {
    color: #F4F4FD;
}

.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #F4F4FD;
    width: 264px;
}

.footer-contacts-title {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-contacts-list {
    display: flex;
    gap: 16px;
}

.contact-item {
    width: 40px;
    height: 40px;
}

.contact-icon {
    fill: #F4F4FD;
}

.contact-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover {
    background-color: #404BBF;
}